{#
/**
 * @file
 * tabs
 *
 * See tabs.wingsuit.yaml for documentation.
 */
#}
<div class="pb-8 pt-2">
    <tab-view>
    {% for item in tabs %}
        <tab-panel header="{{ item.title }}">
            <div>
                <p>{{ item.content }}</p>
            </div>
        </tab-panel>
    {% endfor %}
    </tab-view>
</div>
